/application/config/database.php
/vendor
/category_images
/blog_files
/course_audios
/course_docs
/course_ppts
/course_videos
/course-images
/exam-images
/pdf_files
/user-avatar
/user-images
/question-media
/system
.ftpquota
.user.ini
.ads.txt
.htaccess
