@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
body {
  font-family: 'Roboto';
  color: black;
  line-height: 1.63em;
  padding-top: 78px;
  letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:black;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Roboto';
}
.form-control{
    color : black;
}
.btn-success {
    color: #ffffff;
    background-color: #e11d80;
    border-color: #e11d80;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #e11d80;
    border-color: #e11d80;
}
.btn-info {
    color: #ffffff;
    background-color: #e11d80;
    border-color: #e11d80;
}

.register_open {
  border-radius: 8px !important;
  font-weight: 600 !important;
  background-color: #F1B900 !important;
  border-color: #F1B900 !important;
}
.well-sm {
 
  font-size: 12px;
}
.login_open {
  background-color: #F1B900 !important;
  border-color: #F1B900 !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #F1B900;
    border-color: #F1B900;
}
.nav-pills > li > a > .badge {
    float: left !important;
    position: relative;
    width: 100%;
    height: 35px;
    margin: 10px;
    line-height: 27px;
    font-size: 12px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #6c8e29;
    border-radius: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: black;
}
.btn-info {
    border-color: #F1B900;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    border-color: black;
}
.btn.btn-primary:hover, .btn.btn-primary.active {
    background-color: #000 !important;
        border-color: #000 !important;

}
.btn-warning {
    color: #ffffff;
    background-color: #F1B900;
    border-color: #F1B900;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: black;
    border-color: black;
}
.navbar-toggle {
        position: relative;
    float: right;
    padding: 15px 10px;
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.breadcrumb > .active {
    color: black;
}
a {
  color: black;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
input[type="submit"],
input[type="date"] {
  border-radius: 0px !important;
  margin: 3px 0;
  height: 50px !important;
  font-size: 18;
  font-weight: lighter;
}

.form-control{
  line-height: 2em;
}
.form-control:focus{
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(102, 175, 233, 0.6);
}
.panel {
    border-radius: 0px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.minpadding {
   padding: 3px !important;
   margin: 0 !important;
}
.thumbnail{
  padding: 0;
  border-radius: 0;
}

.btn.btn-primary {
    background-color: #F1B900;
    border-color: #F1B900;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1586c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #80c9f1;
  text-decoration: none;
  outline: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
}

.btn-outline {
    background-color: transparent !important;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: white;
    border: 1px solid white;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: black;
    border:1px solid black;
}

.btn-home-slider{
  border-color: #fff !important;
  border-radius: 2px;
  width: 200px;
  margin: 0 10px;
  letter-spacing: 1.5px;
  font-weight: lighter;
}


p.lead {
    color: white;
    font-size: 27px;
}

@media (max-width: 768px)
{
  #contact .contact_button {
    background-color: #F1B900;
    padding: 8px;
    text-align: center;
    margin: 10px;
}
.navbar-default .navbar-brand {
    position: relative !important;
}

#main-slider h1{
  font-size: 27px !important;
  word-break: break-word;
    }
p.lead {
    color: white;
    font-size: 15px !important;
}
.fb-page.fb_iframe_widget {
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 13px !important;
 
}

    
}

#contact .contact_button {
  background-color: #F1B900;
  padding: 8px;
  text-align: center;
  margin: 8px -10px;
  /* width: 458px; */
}
#main-slider {
  color: white;
  background-color: #776a6a;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 200px 0;
background-image: url(../images/p25.jpg);
}
#main-slider .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
  text-align: center;
}
#main-slider .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 2;
}
#main-slider .item.active h1 {
  -webkit-animation: scaleUp 400ms;
  -moz-animation: scaleUp 400ms;
  -o-animation: scaleUp 400ms;
  -ms-animation: scaleUp 400ms;
  animation: scaleUp 400ms;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
    top: 50%;
    background-color: #F1B900;
    color: #fff;
    display: inline-block;
    margin-top: -50px;
    font-size: 22px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0px;
    z-index: 5;
  visibility: hidden;
}

#main-slider:hover .prev, #main-slider:hover .next{ visibility: visible; }

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #fff;
  color:#F1B900;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider h1 {
      font-size: 50px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

#main-slider .carousel-content .lead b
{
   font-weight: 400;
}

.box {
  background: #fff;
  position: relative;
  min-height: 400px;
}
.box.first {
  margin-top: -34px;
  padding-top: 40px;
}
i.fa.fa-apple.fa.fa-md.fa.fa-color1 {
    display: none !important;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}


#start_exam {
  margin-top: 20px;
}

#start_exam .box {
  padding-top: 0px;
}

#contact .box {
  background-color: #191970;
  color: white;
  padding: 30px;
}
#contact .box h1,
#contact .box h2,
#contact .box h3 {
  color: #fff;
}
#contact .box a {
  color: #999;
}
#contact .box a:hover {
  color: #52b6ec;
}
#contact .box input[type="text"],
#contact .box input[type="email"],
#contact .box textarea {
  background-color: white;
  border: 0;
  border-radius: 0px;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
address {
    color: white;
}
#contact .box input[type="text"]:focus,
#contact .box input[type="email"]:focus,
#contact .box textarea:focus {
  color: #333;
  background-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*Exam Summery*/

#exam_summery .table{
  margin-bottom: 0px !important; 
}

#exam_summery .table th, #exam_summery .table td {
        border-top: none !important;
    font-weight: 400;
    color: black !important;
    height: 40px;
    vertical-align: middle;
}
span.created_by {
    color: #F1B900;
}
.secondary {
    margin: 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #F1B900;
}
.secondary .widget {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.fa {
    cursor: pointer;
}
.text-muted {
    color: black !important;
}
p {
    color: black;
}
input.btn.btn-warning.btn-block {
    font-size: 24px !important;
}
input.form-control {
    font-size: 12px;
    font-weight: 500;
}
input.btn.btn-primary.btn-block {
    font-size: 20px !important;
}
#contact p {
    color: white !important;
}
.social a.text-muted {
    color: white !important;
}
.panel-info > .panel-heading {
    color: white;
    background-color: #F1B900;
    border-color: #F1B900;
}
input::placeholder {
    font-weight: 500;
}
.panel-info {
    border-color: #F1B900;
}
/*FAQ*/

h4.panel-title a{
  color: #333;
}
h4.panel-title a:hover,
h4.panel-title a:focus{
  color: #F1B900;
}

/* BLOG */
.blog h1 {
       display: block;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 11px;
    font-weight: 400;
}
.block-search input {
  margin-top: 20px;
  height: 50px;
  border-radius: 0px;
  box-shadow: none;
  border: 2px solid #f0f0f0;
}
.block-search input:active {
  box-shadow: none;
}
.blog-caption {
      font-family: 'Roboto';
    font-size: 12px;
    text-align: left;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.2em;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 12px;
}
.read-more {
        display: block;
    text-align: right;
    margin-top: 9px;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.read-more .btn {
    padding: 10px 15px;
    background-color: #F1B900;
    border-color: #F1B900;
    color: #fff;
}

.read-more .btn:hover
{
	background-color: #000;
}

.old-comments {
    margin-bottom: 8px;
    display: flex;
    background-color: #f8f8f8;
    padding: 15px;
}

.blog-comments h5 {
        padding-bottom: 10px;
    border-bottom: 1px solid rgba(218, 225, 229, 1);
    margin-top: 0;
    font-weight: 400;
}
.avatar img {
    height: 50px;
    width: 50px;
}

.exam-item {
  padding: 3px !important;
  margin: 0px !important;
}

#exams .nopadding .btn-group.pull-right{
  padding-right: 3px;
}
#exams h4 {
    display: inline-block;
    font-weight: 200;
    padding-left: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.exam-list .thumbnail{
     padding: 3px !important;
    border-radius: 0px !important;
        height: 100%;
     margin-bottom: 0px;
}
.exam-thumbnail {
    height: 190px !important;
    width: 100% !important;
    object-fit: contain;
}
.thumbnail .caption {
       padding: 5px 6px;
}
/*.thumbnail .exam-title {
    margin: 0;
    height: 1.1em;
    overflow: hidden;
}*/

.thumbnail .exam-title {
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 35px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    color:black;
}



.thumbnail span.exam-category {
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-font-smoothing: subpixel-antialiased;
}
.thumbnail .total-question {
      font-size: 11px;
    color: #fff;
    white-space: nowrap;
    font-weight: 500;
}
.thumbnail .exam-duration {
      font-size: 11px;
    color: #fff;
    white-space: nowrap;
    font-weight: 500;
}

/*Category dropdown MENU*/
.category-menu > li > a {
   padding-top: 9px !important; 
   padding-bottom: 9px !important;
   border: 1px solid #2c3e50;
}
.dropdown-menu{
  box-shadow: none;
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  border-radius: 0px 6px 6px 6px;
  background-color: #2c3e50;
  margin-top: -1px !important;
  margin-left: -1px !important;
}
.dropdown-menu > li > a {
  padding-top: 10px !important; 
  padding-bottom: 10px !important; 
  color: #fff;
}

.dropdown-submenu {
    position: relative;
    width: 250px;
}

.dropdown-submenu h3 {
  color: #fff;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 18px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
    width: 250px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*Modal*/
.modal-header {
    padding: 10px 10px 0px;
}
.modal-content {
  margin-top: 80px;
-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-footer {
padding: 3px 20px 5px;
margin-top: 0px;
text-align: right;
border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  /*added by T Morphy */
  /*from http://www.barrykooij.com/bootstrap-submenu-open-on-mouse-over/ to get hover behaviour on desktop */
  ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
  ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      display: none;
  } 
  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
      display: block;
  } 
  .lead {
    font-size: 21px;
  }
}


/*
#portfolio .box {
  background: #f3f3f3;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#pricing .box {
  background-color: #f9f9f9;
}
#pricing .plan {
  background: #fff;
  list-style: none;
  margin: 0 0 20px;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #e1e1e1;
}
#pricing .plan li {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px dashed #eee;
}
#pricing .plan li.plan-name {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
}
#pricing .plan li.plan-price {
  color: #666;
  padding: 15px 0;
  font-size: 48px;
}
#pricing .plan li.plan-action {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 0;
}
#pricing .plan.featured {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#pricing .plan.featured .plan-price {
  color: #fff;
  background-color: #52b6ec;
  border-bottom-color: #52b6ec;
  margin: 0;
}
*/


.price_table_container{
  text-align:center;
  color:#666;
  margin-top:35px;
  font-family: 'Open Sans', sans-serif;
}

.price_table_heading{
  font-size:28px;
  padding:10px;
  background:#EEE;
}


.price_table_row {
  padding:15px;
  background: #FFF;
}

.cost{
  padding:30px;
  font-size:35px;
  font-weight: 100;
  letter-spacing: -1px;
}
.cost span{
  font-size:15px;
}

.price_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
  border-radius:0px;
}

.recommended{
/*USER DEFINED COLOUR*/ 
background:#FF3A3A; 
color:#FFF;
/*USER DEFINED COLOUR*/ 
padding:3px 0 3px 0;
margin-top:10px;  
text-align:center;
margin-bottom:-35px;
font-family: 'Open Sans', sans-serif;
}


.spacer{width:100%;height:50px;}


/*Already Defined Colours*/
/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#5CB85C;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}

/* course summary css */

/*
.course-summary-thumbnail{
  height: 180px !important; 
  width: 100px !important; 
}
*/
.course-video-container {
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  margin-top: 10px;
}

.course-video-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.course-video-container .chap-title {
padding: 10px;
border-bottom: 1px solid #f0f0f0;
background-color: #e0e0e0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}

.chap-title h5 {
margin: 0 0 0 5px;
font-weight: 400;
font-size: 16px;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
min-width: 1px;
}

.lec {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-bottom: 1px solid #f0f0f0;
}

.lec-left {
font-size: 12px;
font-weight: 700;
text-align: center;
min-width: 35px;
}

.course-no {
display: block;
}

.lec-right {
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
min-width: 1px;
border-left: 1px solid #F0F0F0;
padding: 10px 15px;
}

.pb-t {
text-align: center;
/*background: #f7eaea;*/
border: 1px solid #d3d3d3;
padding: 30px 0 20px;
}
.pb-ph {
display: block;
font-size: 16px;
}
.pb-pr {
color: #37b34a;
font-size: 26px;
font-weight: 700;
line-height: normal;
}
.pb-ta {
  margin-top: 15px;
}
.related_courses{
  padding: 8px; 
}



/**/
.center {
  text-align: center;
}
#team-scroller .designation {
  margin-top: 10px;
  display: block;
}
.member {
  margin: 0 50px;
  text-align: center;
}
.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
  top: 30%;
  position: absolute;
}
.carousel.scale .left-arrow {
  left: -10px;
}
.carousel.scale .right-arrow {
  right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
  -webkit-animation: scaleUp 200ms linear 0 both;
  -moz-animation: scaleUp 200ms linear 0 both;
  -ms-animation: scaleUp 200ms linear 0 both;
  -o-animation: scaleUp 200ms linear 0 both;
  animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
  -webkit-animation: scaleUp 200ms linear 100ms both;
  -moz-animation: scaleUp 200ms linear 100ms both;
  -ms-animation: scaleUp 200ms linear 100ms both;
  -o-animation: scaleUp 200ms linear 100ms both;
  animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
  -webkit-animation: scaleUp 200ms linear 200ms both;
  -moz-animation: scaleUp 200ms linear 200ms both;
  -ms-animation: scaleUp 200ms linear 200ms both;
  -o-animation: scaleUp 200ms linear 200ms both;
  animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
  -webkit-animation: scaleUp 200ms linear 400ms both;
  -moz-animation: scaleUp 200ms linear 400ms both;
  -ms-animation: scaleUp 200ms linear 400ms both;
  -o-animation: scaleUp 200ms linear 400ms both;
  animation: scaleUp 200ms linear 400ms both;
}
.icon-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block !important;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.icon-social.icon-facebook {
  background: #4f7dd4;
}
.icon-social.icon-facebook:hover {
  background: #789bde;
}
.icon-social.icon-twitter {
  background: #5bceff;
}
.icon-social.icon-twitter:hover {
  background: #8eddff;
}
.icon-social.icon-linkedin {
  background: #21a6d8;
}
.icon-social.icon-linkedin:hover {
  background: #49b9e3;
}
.icon-social.icon-google-plus {
  background: #dc422b;
}
.icon-social.icon-google-plus:hover {
  background: #e36957;
}
.icon-social.icon-pinterest {
  background: #cb2027;
}
.icon-social.icon-pinterest:hover {
  background: #e03e44;
}
.icon-social.icon-youtube {
  background: #ce332d;
}
.icon-social.icon-youtube:hover {
  background: #da5954;
}
.icon-social:hover {
  color: #fff;
}
.navbar-default {
  background: #fff;
  border-radius: 0;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.navbar-brand{
  padding: 0 15px;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
    position: relative;
    top: 5px;

}

.navbar-default .navbar-brand img
{
  width: 160px;
}
.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
marquee {
    bottom: -8px;
    position: relative;
}
.navbar-default .navbar-nav > li > a {
    padding: 25px 14px;
    font-size: 12px;
    line-height: 35px;
    color: black;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #F1B900;
  color: #fff;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-md {
  font-size: 24px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-color1 {
  background-color: #e74c3c;
}
.icon-color2 {
  background-color: #2ecc71;
}
.icon-color3 {
  background-color: #3498db;
}
.icon-color4 {
  background-color: #8e44ad;
}
.icon-color5 {
  background-color: #1abc9c;
}
.icon-color6 {
  background-color: #2c3e50;
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 50px;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #52b6ec;
}
ul.social {
  list-style: none;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}
ul.social > li {
  margin: 5px 0;
}

ul.social > li > a {
  display: block;
  font-size: 14px;
}

ul.social > li > a > i {
  width: 20px;
}

textarea#message {
  padding: 10px 15px;
  height: 160px;
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@media (min-width: 768px){
  .navbar-nav {
      float: right;
  }  
}


/*Bootstrap extents*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}


/* New Css */

.line_br {
    height: 3px;
    background-color: #F1B900;
    width: 100px;
    margin-bottom: 15px;
}

.text-uppercase
{
   text-transform: uppercase;
}

.h1
{
   margin-top: 0;
   font-family: 'Roboto';
}

.navyBlue
{
   background-color: #191970;
}

.myBox .box
{
   border:none;
}

.myBox p span
{
   display: block;
   padding: 15px 0;
}

.myBox p span b
{
   margin-bottom: 10px;
   display: block;
}

.secPad 
{
    padding: 60px 0;
}

.contactNew h3
{
   margin-top: 0;
   color: #fff;
   text-transform: uppercase;
   font-size: 35px;
}

.contactNew .line_br
{
   margin:0 auto 35px;
}


#footer 
{
   background-color: #f0f0f0;
  color: #000;
}

#footer
{
   padding: 20px 15px;
}

#footer p
{
   color:#000;
   font-size: 13px;
   margin: 0
}

#footer .lsp
{
   margin-bottom: 0;
}

#footer ul li a 
{
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

#footer ul li a:hover
{
   color:#F1B900;
}

.conNew 
{
    padding: 22px;
    background-color: #fff;
    border-radius: 5px;
}

.conNew input.form-control 
{
    margin-bottom: 12px;
    box-shadow: none;
}

.conNew textarea
{
   border-radius: 0;
   box-shadow: none
}

.conNew input.form-control:placeholder
{
   font-weight: normal !important;
}

.conNew .btn-info 
{
    color: white;
    border: 1px solid #F1B900;
    border-radius: 5px;
    background-color: #F1B900 !important;
}

.conNew .btn-info:hover
{
   background-color: #000 !important;
   color:#fff !important;
}

.h3cont
{
   margin: 50px 0 15px 0 !important
}

.mrauto {
    margin: 0 auto 35px;
}

.aboutHome .box
{
   min-height: auto;
   border:none;
   background-color: transparent;
}

.aboutHome .box p
{
	text-align: justify;
}

.bgblue {
    background-color: #f6fafd;
}

.ifrm iframe
{
  width: 100% !important;
}

.noticBor
{
   color: white;
    text-align: center;
    padding: 13px;
    margin: 5px;
    background: #F1B900;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.notiFic pre h3 {
        font-size: 17px;
    line-height: 29px;
    margin: 0;
}

.notiFic pre p {
    font-size: 14px;
}

.notiFic pre a {
    font-size: 14px !important;
        word-break: initial;
}

.notiFic pre {
    margin: 0 5px 8px;
    border-radius: 0;
    background-color: #f6fafd;
}

.newBanner .btn 
{
    border-radius: 0 !important;
    border-color: #F1B900 !important;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.newBanner .btn:hover
{
	background-color: #fff !important;
	color:#000;
}

.my-popup
{
	    border-radius: 0;
    border: 3px solid #f0ad4e;
    margin-bottom: 0;
    background-color: #fff;
    max-width: 450px !important;
    width: 100%;
}

.my-popup h4 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: 400;
}

.popup-form .input {
    border-radius: 0px;
    margin-bottom: 7px;
}

.mb15
{
	margin-bottom: 15px !important;
}

.my-popup input.btn.btn-warning.btn-block {
    font-size: 18px !important;
    font-weight: 400;
}

.my-popup .popup-bottom {
    margin-top: 12px;
    padding: 0;
}

.my-popup .popup-bottom .btn {
    padding: 9px 18px;
    text-transform: uppercase;
}

.popup_background
{
	 opacity: 0.8 !important;
}

.my-popup input.form-control {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
}

.my-popup .popup-bottom .btn:focus,
.my-popup .popup-bottom .btn:active
{
	border:none !important;
}

.blogNew .box
{
	height: auto;
}

.blog {
    margin-bottom: 15px;
}

.fixImg {
    width: 100%;
    flex-basis: 35%;
    flex-shrink: 0;
}
.fixImg img {
    width: 100%;
    height: auto;
}

.bgBlog
{
	background-color: #f6fafd;
    padding: 5px 10px;
        flex-basis: 65%;
}

.fixImg iframe {
    width: 100%;
	max-width: 100%;
	height: 480px;
}

.blog-content p
{
	font-size: 13px;
}

.pd25 {
    padding: 25px;
}

.rightser h3 {
    text-align: left;
    color: #F1B900;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
}

.has-search .form-control-feedback {
    color: #838383;
    position: absolute;
    top: 18px;
        right: 10px;
    background-color: transparent;
    border: none;
}

.has-search {
    position: relative;
}

.searchri {
    margin-bottom: 20px;
}

.recentPost .media 
{
    display: flex;
}
.recentPost .media .media-left img
{
    margin-right: 8px;
}

.recentPost .media-heading {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 400;
    color: #6a6a6a;
}

.recentPost .media p {
    margin-bottom: 0;
    font-size: 13px;
}

.blog-comments h2 {
    padding-bottom: 16px !important;
    border-bottom: 1px solid rgba(218, 225, 229, 1);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 0;
}

.blog-comments textarea.form-control {
    height: 150px;
    border-radius: 0px;
}

.old-comments {
    margin-bottom: 30px;
    display: flex;
}


.row.comment-section {
    margin-top: 30px;
}

.comment-body-section
{
	width: 95%;
    margin-left: 20px;
}

.sebtn
{
	    border-radius: 0px;
    padding: 13px 30px;
    font-size: 14px;
    text-transform: uppercase;
}


.sebtn:hover
{
	background-color: #000;
	color:#fff;
}

.loginPage .box
{
	min-height: auto;
}

.loginPage .box h3 {
       margin-top: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.loginPage .box i.fnew {
    margin-top: 0px;
    text-align: center;
    display: block;
    font-size: 90px;
    font-weight: 500;
    color: #F1B900;
    margin-bottom: 9px;
}

.loginPage .boxInner {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: 2px solid #f4f4f4;
    padding: 20px;
    border-radius: 4px;
}

.loginPage input.form-control {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
}

.loginPage form .btn {
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 12px !important;
    padding: 13px;
}

.loginBt {
    line-height: 28px;
}

.loginBt a {
    color: #F1B900;
}

.loginBt a:hover {
    color: #000;
}

.loginPage .boxInner.boxError
{
	padding: 0;
	border:none;
	margin-bottom: 15px;
}

.loginPage .boxInner.boxError span {
    width: 100%;
    display: block;
    text-align: center;
}

.useList .form-control
{
	border-radius: 0px;
	height: 48px;
}

.filBtn {
    margin-top: 32px;
    text-align: right;
}

.exam-list {
    display: flex;
    flex-wrap: wrap;
}

.showTime {
    position: absolute;
    right: 4px;
    background-color: #191970;
    padding: 0px 5px 3px;
    bottom: 3px;
}

.socialimg {
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}

.socialimg a:first-child img {
    width: 77px;
    border-radius: 5px;
    margin-right: 4px;
}

.socialimg a:last-child img
{
	width:63px;
}

.startBtn {
    margin-bottom: 45px;
    margin-top: 8px;
}

.examSum .panel-info 
{
    border: none !important;
    box-shadow: none !important;
}

.examSum .box
{
	min-height: auto;
}

.examSum .panel-body {
    padding: 0;
}

.examSum .panel-heading {
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

.syh3 h3 {
   font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F1B900 !important;
    margin-bottom: 5px;
}

.syh3 p {
    margin-bottom: 19px;
    background-color: #eee;
    display: inline-block;
    padding: 5px 10px;
    color: #000;
}

.newStart {
    display: flex;
    width: 100% !important;
    justify-content: center;
}

.newStart .btn {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    line-height: 104px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #191970;
    border-color: #191970;
}

.newStart .btn:hover {
    background-color: #000;
}

.listUl h4
{
    font-size: 35px;
    text-transform: uppercase;
    color: #F1B900 !important;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 21px;
}

.listUl ul li {
    margin-bottom: 11px;
}

.listUl ul li i {
    padding-right: 6px;
    color: #F1B900;
}

.btnset {
    margin-top: 20px !important;
}

.btnset .btn {
    padding: 10px 20px;
    background-color: #F1B900;
    border-color: #F1B900;
}

.btnset .btn:hover
{
	background-color: #000;
	border-color: #000;
	color:#fff;
}

.blog-flex {
    background-color: #f6fafd;
    padding: 7px;
    display: flex;
}

.addthis_inline_share_toolbox {
    margin-top: 11px;
}

.pagination li.active a
{
	background-color: #F1B900 !important;
    border-color: #F1B900 !important;
}

.pagination a:hover
{
	background-color: #000 !important;
    border-color: #000 !important;
    color:#fff;
}

.newBlogset .blog-caption {
    padding-top: 9px;
}

.newBlogset .bgBlog
{
	padding: 10px 10px;
}

.newBlogset .fixImg
{
	margin-bottom: 15px;
}

.read-more.redright
{
	text-align: left;
}

.newBlogset .fixImg iframe
{
	    width: 100%;
    max-width: 100%;
}

.newBlogset .fixImg img {
    width: 100%;
    height: auto;
}

.decpara p
{
	text-align: justify;
}

.decpara ul
{
	padding-left: 15px;
	margin-top: 10px;
}

.decpara .box
{
	min-height: auto;
}

.decpara h3 {
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
    font-size: 20px;
}

.decpara .panel-title {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
    padding: 7px 0px;
}

.decpara .panel-heading {
    background-color:#fffdd0;
    border-color: #dddddd;
}

.decpara .panel {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 0;
}

.shTime
{
	display: flex;
	justify-content: space-between;
}
.shTime p
{
	font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.shTime p .time-duration
{
	color: red;
}

.startExam hr
{
	margin-bottom: 0;
}

.me-control-btn .btn {
    padding: 10px 15px;
    background-color: #f1ba2e;
    border-color: #f1ba2e;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}

.me-control-btn
{
	border-top: 1px solid #eee;
	padding-top: 10px;
	text-align: center;
}



.imgfits {
      width: 300px;
    margin-top: 15px !important;
    margin-bottom: 15px;
}

.recentPost .media-left iframe
{
	margin-right: 8px;
}

#about p
{
	text-align: justify;
}

p#submit_button .btn span {
    display: inline-block;
}

p#submit_button .btn {
    background-color: #00cb00;
    border-color: #00cb00;
    padding: 0 19px;
    width: auto;
    border-radius: 5px;
    margin: 0 auto;
}

p#submit_button {
    text-align: center;
    display: flex;
    margin-bottom: 0 !important;
}

p#submit_button .btn:hover
{
	opacity: 0.8 !important;
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
        animation-iteration-count: 1;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
}
.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 11px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.yTubeplay {
    position: absolute;
    right: 20px;
    font-size: 30px;
    top: 20px;
    color: red !important;
}
.play-btn {
    width: 30px;
    height: 30px;
    background: radial-gradient( #FF5722 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 128, 0.4);
}
.qusAnawer h3 {
    margin-top: 0;
    font-weight: 500;
    color: #083b66;
    padding-right: 45px;
    font-size: 17px;
    margin-bottom: 0;
    line-height: 28px;
}
.panel-heading.qusAnawer {
    /*background: #9d9b9b;
    color: white;
    margin: 10px;*/
	background: #f6fafd!important;
    margin: 0!important;
    color: #000!important;
}
.panel-heading {
    padding: 15px;
}

.panel-heading.qusAnawer{
    background-color: #fffdd0 !important;
    border-color: #dddddd !important; 
    width: 100%;
    font-size: 20px;
}
.list-unstyled li{
	width:100% !important
}

.panel-title {color:#000!important;font-weight:500;}
h4.panel-title a { color: #000!important;font-weight:500;}
.fixImg.youtube-video { position:relative;width:100%;padding:0 0 56.2%; z-index: 999;}
.fixImg.youtube-video iframe {position:absolute;top:0;left:0;height:100%;width:100%;}

.result_popup {
  max-width: 500px;
  max-height: 80vh;
  height: 240px;
  text-align: center;
  background-color: #f1b900;
  padding: 40px 20px;
  display: none;
  border-radius: 10px;
  width: 100%;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.result_popup:before {
  content: "";
  display: inline-block;
  background-image: url(https://usagif.com/wp-content/uploads/gif/confetti-52.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}
.result_popup h2 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
.result_popup p {
  margin: 18px 0 0 0;
  font-size: 20px;
}